:root {
    --primary-color: #EE9974;
    --secondary-color: #ffffff;
    --accent-color: #DF9755;
    --brokenwhite-color: #FEF6F6;
    --font-family: 'Montserrat', sans-serif;

    --font-verybig: 35px;
    --font-big: 30px;
    --font-large: 24px;
    --font-medium: 20px;
    --font-small: 16px;
}

body {
    font-family: var(--font-family);
    color: var(--primary-color);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.title-h1 {
    color: black;
    font-weight: bold;
}

/* NAVBAR */
.navbar-brand,
.navbar-nav .nav-link {
    color: var(--primary-color) !important;
}

.navbar .btn-masuk {
    background-color: var(--primary-color);
    color: white;
}

.navbar .btn-masuk:hover {
    background-color: #bc7a5b;
    color: white;
}

/* HERO SECTION */
.hero-section {
    position: relative;
    width: 100%;
    height: 100vh; /* Atur tinggi sesuai kebutuhan */
    overflow: hidden;
}

.hero-section .swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero-overlay {
    position: absolute;
    background-color: rgba(215, 148, 148, 0.416);
    height: 600px;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Mengubah agar teks rata kiri */
    justify-content: center; /* Tetap vertikal di tengah */
    text-align: left; /* Mengubah text-align ke kiri */
    color: white;
    z-index: 10;
    padding: 80px; /* Menambahkan padding di dalam hero overlay */
}

/* Pengaturan Slide 1 (Rata Kiri) */
.swiper-slide.slide-left .hero-overlay {
    align-items: flex-start; /* Teks rata kiri */
    text-align: left; /* Teks rata kiri */
    font-size: 1.25rem;
}

/* Pengaturan Slide 2 (Rata Tengah) */
.swiper-slide.slide-center .hero-overlay {
    align-items: center; /* Teks di tengah secara vertikal */
    text-align: center; /* Teks rata tengah */
    left: 50%;
    transform: translateX(-50%); /* Pusatkan secara horizontal */
    font-size: 1.25rem;
}

/* Pengaturan Slide 3 (Rata Kanan) */
.swiper-slide.slide-right .hero-overlay {
    align-items: flex-end; /* Teks rata kanan */
    text-align: right; /* Teks rata kanan */
    right: 10%; /* Sesuaikan posisi */
    font-size: 1.25rem;
}

.hero-overlay .btn {
    background-color: var(--primary-color);
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    margin: 5px;
    border-radius: 5px;
}

.hero-overlay .btn1:hover,
.hero-overlay .btn2:hover {
    background-color: #bc7a5b;
    color: white;
}


.swiper-pagination {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.swiper-pagination .swiper-pagination-bullet {
    background-color: white;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 5px;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: #ff6600; /* Ganti dengan warna yang diinginkan */
}

/* PRODUK SECTION */
.section-title {
    text-align: center;
    font-weight: bold;
    position: relative;
    margin-bottom: 10px;
    font-size: var(--font-big);
}

.section-title::before,
.section-title::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 0;
    border-top: 2px dashed black;
    top: 50%;
}

.section-title::before {
    left: 0;
    margin-left: 55px;
}

.section-title::after {
    right: 0;
    margin-right: 55px;
}

.section-subtitle {
    text-align: center;
    font-size: 1rem;
    color: #666;
    max-width: 600px;
    margin: 0 auto 20px;
}

.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-card {
    flex: 1;
    max-width: 250px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    margin: 10px;
    position: relative;
    overflow: hidden;
}

.product-card:hover {
    transform: scale(1.1);
}

.button-container .btn-custom {
    color: white;
    font-weight: bold;
    border-radius: 10px;
    width: 200px;
    background-color: var(--primary-color);
}

.button-container .btn-custom:hover {
    background-color: #bc7a5b;
    color: white;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

/* TESTIMONI SECTION */
.testimoni {
    background-color: var(--brokenwhite-color);
    padding: 50px 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.testimoni h2 {
    font-weight: bold;
    font-size: var(--font-big);
}

.testimoni .testimonial-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.testimoni .stars {
    color: #f4b400;
    font-size: 16px;
}

.btn-testimoni .btn-custom {
    color: white;
    font-weight: bold;
    border-radius: 10px;
    width: 200px;
    background-color: var(--primary-color);
}

.btn-testimoni .btn-custom:hover {
    background-color: #bc7a5b;
    color: white;
}

/* KEUNGGULAN SECTION */
.keunggulan h2 {
    font-size: var(--font-big);
    font-weight: bold;
}

.background-text {
    position: absolute;
    font-size: 120px;
    font-weight: bold;
    border-color: D8A451;
    color: rgba(207, 183, 145, 0.5);
    z-index: -1;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
    width: 100%;
}

.premium {
    text-align: right;
    top: 0%;
    right: -1%;
}

.cookies {
    text-align: left;
    bottom: -10%;
    left: -1%;
}

/* PORTFOLIO SECTION */
.portfolio {
    background-color: var(--brokenwhite-color);
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio h2 {
    font-weight: bold;
    font-size: var(--font-big);
}

.swiper-container {
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
}

.swiper-slide img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.portfolio .swiper-pagination {
    position: relative;
    margin-top: 20px;
    text-align: center;
}

.portfolio .swiper-pagination-bullet {
    background: #572a1e;
    opacity: 0.5;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.portfolio .swiper-pagination-bullet-active {
    background: #d2691e;
    opacity: 1;
    transform: scale(1.2);
}

.btn-portfolio .btn-custom {
    color: white;
    font-weight: bold;
    border-radius: 10px;
    width: 200px;
    background-color: var(--primary-color);
}

.btn-portfolio .btn-custom:hover {
    background-color: #bc7a5b;
    color: white;
}

/* CTA SECTION */
.cta-section-card h2 {
    color: #4A1D1F;
}

.cta-section-card p {
    color: #4A1D1F;
    font-size: var(--font-medium);
}

.cta-section-card .custom-icon-card {
    font-size: 50px;
    color: var(--accent-color);
}

.section-title-cta-card {
    text-align: center;
    font-weight: bold;
    position: relative;
    margin-bottom: 10px;
    font-size: var(--font-big);
}

.section-title-cta-card::before,
.section-title-cta-card::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 0;
    border-top: 2px solid var(--accent-color);
    top: 50%;
}

.section-title-cta-card::before {
    left: 0;
    margin-left: 150px;
}

.section-title-cta-card::after {
    right: 0;
    margin-right: 150px;
}

.floating-img-card {
    position: absolute;
    top: -40px;
    left: -100px;
    width: 450px;
    animation: floatAnimation 3s infinite ease-in-out;
}

.cta-section-card .container {
    margin-left: 180px;
}

.product-card-card {
    background: white;
    border-radius: 30px;
    box-shadow: 1px 2px 5px 5px #dfdfdf;
}

.product-title-card {
    font-size: 20px;
    font-weight: bold;
    color: #5a3e36;
}

.product-images-card {
    display: flex;
    gap: 10px;
}

.product-img-card {
    width: 180px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.product-img-card:hover {
    transform: scale(1.1);
}

.cta-section-card .product-title-card {
    font-size: var(--font-big);
}

.cta-section-card hr {
    margin-top: 70px;
    background-color: black;
}

.product-images-card h2 {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    margin-right: -5px;
    margin-left: -5px;
    color: black;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.541);
}

/* FOOTER */
.bg-footer {
    background-color: #EE9974;
    color: white;
    padding: 30px 20px;
    text-align: center;
}

.bg-footer h4 {
    font-size: var(--font-large);
}

.bg-footer p,
.bg-footer h5,
.bg-footer li {
    font-size: var(--font-small);
}

.footer-link {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.footer-link:hover {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.social-link {
    color: white;
    font-size: 20px;
    transition: 0.3s;
}

.social-link:hover {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

/* RESPONSIVE */
@media (max-width: 412px) {

    body{
        overflow-x: hidden;
    }
    
    .hero-section {
        height: 40vh;
        min-height: 400px;
    }
    
    .hero-overlay {
        padding: 0 5%;
        justify-content: flex-end;
        padding-bottom: 80px;
        height: 40vh;
        
    }
    
    .hero-overlay h1 {
        font-size: 1.5rem;
    }
    
    .hero-overlay p {
        font-size: 0.9rem;
    }
    
    .hero-overlay .btn {
        padding: 8px 16px;
        font-size: 0.8rem;
    }
    
    .swiper-pagination {
        bottom: 10%;
    }
    
    .hero-buttons {
        gap: 10px;
    }
    

    .hero-section .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }

    .product-container {
        flex-direction: column; /* Stack cards vertically */
    }
    
    .product-card {
        flex: 1 1 auto; /* Allow cards to grow and shrink */
        max-width: 80%; /* Take full width of container */
        margin: 10px 0; /* Adjust margins for vertical stacking */
    }

    .section-title::before,
    .section-title::after {
        content: "";
        position: absolute;
        width: 10%; /* bisa disesuaikan lagi */
        height: 0;
        border-top: 2px dashed black;
        top: 80%;
    }

    .cta-section-card .container {
        margin: 0 20px;
        text-align: center;
    }

    .floating-img-card {
        display: block;
        top: -40px;
        left: -100px;
        width: 200px;
        animation: floatAnimation 3s infinite ease-in-out;
    }

    .product-images-card {
        flex-direction: column;
        align-items: center;
    }

    .product-images-card h2 {
        writing-mode: horizontal-tb;
        transform: none;
        margin: 0;
        font-size: 30px;
    }

    .background-text {
        font-size: 60px;
    }

    .premium {
        top: 15%;
    }

    .cookies {
        bottom: 2%;
    }
}
